<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Futboll-Stats</title>
</head>
<body>
    <header>
       <h1>Edit <%= player.name %>'s Info</h1>
         <nav>
            <ul>
               <li>
                  <a href="/">Home</a>
               </li>
               <li>
                  <a href="/players">Players Index</a>
               </li>
           </ul>
         </nav>
    </header>
    <main>
        <h2>Players Attributes</h2>
          <form action="/players/<% player._id %>?_method=PUT" method="POST">
              <input type="text" name="name" value="<%= player.name"> <br>
              <input type="text"  value="">
              <input type="text">
          </form> 
    </main>
</body>
</html>