<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Futboll-Stats App</title>
</head>
<body>
  <!-- Header -->
     <header>
          <h1>Players</h1>
            <nav>
              <ul>
                <li>
                  <a href="/">Home</a>
                </li>
                <li>
                  <a href="/players/new">Create a new player</a>
                </li>
              </ul>
            </nav>
     </header>

<main>
  <h2>List of Authors</h2>
  <ul>
      <% for(let i = 0; i < players.length; i++){ %>
      <li>
          <a href="/players/<%= players[i]._id %>"><%= players[i].name %></a>
      </li>
      <% } %>
  </ul>
</main>
</body>
</html>