<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
          
  <link rel="stylesheet" href="style.css" class="style"> 
  <title>Futboll-Stats App</title>
</head>

<body>
  <!-- Header -->
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/teams/new">Create Team</a>
      </li>
    </ul>
  </nav>
  <!-- <div class="container"> -->
  <main>
    <h2>List of Futboll Club Teams</h2>
      <ul>
       <% for(let i = 0; i < teams.length; i++){ %>
        <li>
          <a href="/teams/<%= teams[i]._id %>"><%= teams[i].name %></a>
        </li>
        <section>
          <a href="/teams/<%= teams[i]._id %>/edit">Edit</a>
        </section>
      <% } %>
     </ul>
    </main>
   <!-- </div> -->
  </body>
</html>