<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/new.css" class="style">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <title>Futboll-Stats App</title>
</head>
<body>
    <nav> 
    <header>
        <div class="headline">
            <h1 style="color:rgb(105, 54, 54)">Create a new team</h1>
        </div>
    </header> 
</nav>  
<div class="container">
     <!-- <div class="striped">  -->
        <form action="/teams" method="POST">
                <label for="name"><h4>Club Name</h4></label>
                <input class="nName" type="text" name="name" placeholder="club name">
                <label for="type"><h4>League</h4></label>
                <input class="nType" type="text" name="type" placeholder="league name">
        <table>
                <thead>
                 <tr>
                    <th><h4> Stats </h4></th>
                  </tr>
                 </thead>
            <tbody>
                <tr>
                    <td>League<input type="text" placeholder="Enter League" name="league"></td>
                </tr>
                <tr>
                    <td>Logo<input type="text" placeholder="enter image link" name="image"></td>
                </tr>
                <tr>
                     <td>Year Founded<input type="number" placeholder="Year founded" name="founded"></td>
                </tr>
    
                <tr>
                     <td>Coach<input type="text" placeholder="Coach name" name="coach"></td>
                </tr>
    
                <tr>
                     <td>Championships<input type="text" placeholder="Championships" name="championships"></td>
                </tr>
    
                <tr>
                    <td>Wins<input type="number" placeholder="Enter season wins" name="wins"></td>
              </tr> 
              <tr>
                    <td>Losses<input type="number" placeholder="Enter season losses" name="losses"></td>
                </tr>
            </tbody>

            </table>
        </div>
        <input style="background-color:rgb(65, 196, 189)" type="submit" value="Add" >
            <a href="/teams" class="button" style="color:rgb(65, 196, 189)">Back</a>
         </form>
        </div>
        </main>
     </body>

    </html>

<style>

body {
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("../Images/81Dttr25ZiL._SL1500_.jpg");
    background-color: rgba(0,0,0, 0.5);
    background-size:100% 100%;
    background-repeat: no-repeat;
 }

 h1{
    text-align: center;
    text-shadow: 2px 2px rgb(85, 62, 158);
 }

 
.container{
    border: 1px solid #999;
    padding: 0.5rem;
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray
}

.button{
    font-size: 16px;
}

</style>