<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Futboll Stats</title>
</head>
<body>
  <header>
    <h1>Show Page for <%= team.name %></h1>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/teams">Futboll Club Team Index</a>
            </li>
        </ul>
    </nav>
  </header>
  <main>

    <section>
        <h2>Teams Attributes:</h2>
          <ul>
            <li>Name: <%= team.name %></li>
          </ul>
     </section>
      <!-- use the _method URL param to make the delete btn -->
      <section>
         <form action="/teams/<%= team._id %>?_method=DELETE" method="POST">
         <input type="submit" value="Delete Team" />
        </form>
      </section>
      <!-- create a link -->
      <section>
      <a href="/teams/<%= team._id %>/edit">Edit</a>
      </section>

    </main>
  </body>
</html>